@charset "UTF-8";
/* ***************************************************************** 
*	Media Query
* ***************************************************************** */
/* ----- Start All Style ----- */
*,
body {
  font-family: "Darker Grotesque", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "kepler-std", serif;
  font-weight: 400;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  font-family: "Darker Grotesque", sans-serif;
}

.transparent-button {
  display: inline-block;
  width: 320px;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
  background-color: white;
  color: black;
}

.section01 {
  width: 100%;
  text-align: center;
  margin: 104px auto;
}

.section02 {
  background-color: #F9FF81;
  width: 100%;
  align-items: center;
  padding: 104px 0;
  margin: 0 auto;
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.emphasis {
  font-weight: 600;
}

/* ----- End All Style ----- */
/* ----- Start Header ----- */
.navbar {
  width: 100%;
  height: 100px;
  padding: 10px 24px 10px 24px;
  z-index: 50;
  position: fixed;
  top: 0px;
}

.logo-container {
  width: 80px;
  height: 80px;
}

.logo {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----- End Header ----- */
/* ----- Start FKV ----- */
.image-container {
  position: relative;
  text-align: center;
}

.overlay-content {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fkv-content {
  text-align: center;
  display: grid;
  gap: 32px;
}

.main-title {
  display: grid;
  gap: 8px;
}

.title {
  font-weight: 400;
  font-size: 80px;
  margin-bottom: 0px;
}

.title-sub {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

#changePic {
  animation: imgfade 4s infinite;
  opacity: 1;
}

.img-fluid {
  filter: brightness(40%);
  width: 100%;
  max-height: 80vh;
  height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----- End FKV ----- */
/* ----- Start WhyECYjapan ----- */
.whyecyjapan-content {
  display: grid;
  gap: 24px;
}

/* ----- End WhyECYjapan ----- */
/* ----- Start Recommended ----- */
.recommended-tour-content {
  display: grid;
  gap: 56px;
}

.recommended-image-content {
  display: grid;
  gap: 32px;
  grid-template-areas: "a b c" "d e f" "g h i";
}

.recommended-image-content > li {
  width: 100%;
}

.recommended-image-content > li > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sample-content {
  margin-top: 56px;
  display: grid;
  gap: 32px;
}

.sample-content > img {
  margin: 0 auto;
  width: 100%;
}

/* ----- End Recommended ----- */
/* ------ Start CTA ------ */
#cta {
  background-color: #000000;
  width: 100%;
  padding: 64px;
  text-align: center;
}

#cta > div {
  width: 100%;
}

/* ------ End CTA ------ */
/* ------ Start Price ------ */
.price-content {
  display: grid;
  gap: 40px;
}

.price-content:first-child {
  display: grid;
  gap: 24px;
}

.price-image {
  display: grid;
  grid-template-areas: "a b";
  gap: 40px;
}

.price-image > img {
  width: 100%;
}

/* ------ End Price ------ */
/* ------ Start Guide ------ */
.guide-container > h2 {
  margin-bottom: 32px;
}

.guide-content {
  display: grid;
  gap: 32px;
  grid-template-areas: "a b";
}

.guide-image {
  width: 100%;
}

.guide-description {
  display: grid;
}

.guide-description > .guide-title {
  display: flex;
  align-items: center;
}

.guide-description > .guide-title > h3 {
  margin-right: 16px;
}

.guide-description > .guide-title > .TikTok-icon {
  margin-right: 16px;
  width: 40px;
}

.guide-description > .guide-title > .TikTok-icon > img {
  width: 100%;
}

.guide-text {
  text-align: left;
}

/* ------ End Guide ------ */
/* ------ Start Voice ------ */
#voice {
  width: 100%;
  max-width: 1120px;
  margin-bottom: 120px;
  text-align: center;
}

.voice-container {
  margin: 0 auto;
}

.voice-content {
  display: grid;
  gap: 32px;
}

.voice-slide {
  position: relative;
}

/* スライドの中央配置 */
.slide-container {
  width: 90%;
  padding: 0 64px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .slide-container {
    width: 80%;
  }
}

.slide-contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.slide-contents .slide-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: #000000;
}
.slide-contents .slide-items img {
  width: 150px;
  margin-right: 32px;
}
.slide-contents .slide-items p {
  width: calc(100% - 182px);
  color: #ffffff;
  text-align: left;
}

/* 矢印の調整 */
.splide__arrows {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.splide__arrow {
  background-color: transparent !important;
  border: none !important;
}

.splide__arrow--prev {
  transform: rotate(180deg); /* 左向き */
}

.splide__arrow--next {
  transform: rotate(0deg); /* 右向き */
}

/* ------ End Voice ------ */
/* ------ Start Footer ------ */
.footer-container {
  background-color: #F9FF81;
  padding: 32px 24px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-icons {
  display: flex;
}

.footer-icons li {
  margin-right: 24px;
  width: 40px;
  height: 40px;
}

.footer-icons li:last-child {
  margin-right: 0;
}

.footer-icons li a {
  width: 40px;
}

.footer-icons li a img {
  width: 40px;
}

.copyright {
  text-align: center;
}

.footer-text {
  text-align: center;
}
.footer-text p {
  font-size: 16px;
}

/* ------ End Footer ------ */
/*--------------- SP Screen ---------------*/
@media (max-width: 768px) {
  /* ----- Start All Style ----- */
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
  .transparent-button {
    width: 240px;
    margin: 0 auto;
    font-size: 16px;
  }
  .section01 {
    margin: 56px auto;
  }
  .section02 {
    padding: 56px 0;
  }
  .wrapper {
    padding: 0 3%;
  }
  /* ----- End All Style ----- */
  /* ----- Start Header ----- */
  .navbar {
    position: relative;
    z-index: 100;
    padding: 10px 24px 10px 24px;
  }
  .logo-container {
    width: 48px;
    height: 48px;
  }
  /* ----- End Header ----- */
  /* ----- Start FKV ----- */
  .fkv-content {
    gap: 24px;
  }
  .main-title {
    display: grid;
    gap: 4px;
  }
  .title {
    font-size: 36px;
  }
  .title-sub {
    font-size: 16px;
  }
  .splide {
    display: block !important;
  }
  .bg-img .slide-media img {
    transition: 7s 1s ease-out;
  }
  .splide__slide.bg-item {
    width: 100% !important;
    height: 80vh !important;
  }
  .splide__slide.bg-item img {
    width: 100%;
    height: 100%;
  }
  .bg-img .splide__slide[class*=-active] .slide-media img {
    transition-delay: 0s;
    transform: scale(1.05);
  }
  .bg-img .splide__slide[class*=-active] .slide-title {
    animation: bg-img-fadeIn 2s 0.5s var(--easing) both;
  }
  @keyframes bg-img-fadeIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
      filter: blur(300px);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0);
    }
  }
  /* ----- End FKV ----- */
  /* ----- Start WhyECYjapan ----- */
  .whyecyjapan-content {
    gap: 16px;
  }
  /* ----- End WhyECYjapan ----- */
  /* ----- Start Recommended ----- */
  .recommended-tour-content {
    display: grid;
    gap: 24px;
  }
  .recommended-image-content {
    gap: 8px;
  }
  .sample-content {
    margin-top: 32px;
    gap: 24px;
  }
  /* ----- End Recommended ----- */
  /* ------ Start CTA ------ */
  #cta {
    padding: 48px;
  }
  /* ------ End CTA ------ */
  /* ------ Start Price ------ */
  .price-content {
    gap: 32px;
  }
  .price-content:first-child {
    gap: 24px;
  }
  .price-image {
    gap: 16px;
  }
  /* ------ End Price ------ */
  /* ------ Start Guide ------ */
  .guide-container > h2 {
    margin-bottom: 24px;
  }
  .guide-content {
    gap: 24px;
    justify-content: center;
    grid-template-areas: "a" "b";
  }
  .guide-image {
    max-width: 360px;
  }
  .guide-description > .guide-title > .TikTok-icon {
    width: 32px;
  }
  /* ------ End Guide ------ */
  /* ------ Start Voice ------ */
  #voice {
    margin-bottom: 88px;
  }
  .voice-content {
    gap: 24px;
  }
  .slide-contents .slide-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }
  .slide-contents .slide-items img {
    margin-right: 0;
  }
  .slide-contents .slide-items p {
    width: 100%;
  }
  /* ------ End Voice ------ */
  /* ------ Start Footer ------ */
  .footer-icons li {
    margin-right: 16px;
  }
  .footer-icons li a {
    width: 32px;
  }
  .footer-icons li a img {
    width: 32px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }
  .footer-icons li {
    margin-right: 24px;
    width: 28px;
    height: 28px;
  }
  .footer-icons li img {
    width: 100%;
    height: 100%;
  }
  /* ------ End Footer ------ */
}/*# sourceMappingURL=style.css.map */